*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  width: 100;
  background-color: #FFF;
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: #012036;
}

.navbar-toggler{
  padding-right: .25rem;
  padding-left: .25rem;
  color: white;
}
.navbar-brand{
  color:white;
}
.nav-link{
  color: white;
}

.nav-link:hover{
  background-color: cyan;
  border-radius: 10px;
}

.main {
  text-align: center;
  align-items: center;
}