@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
h3{
  color: rgb(174, 174, 174);
}
h1 span{
  color:#012036;
}

#descargaCV{
  padding: 0.5em;
  background-color:#012036;
  color: white;
  border-radius: 10px ;
}
#descargaCV:hover{
  background-color: cyan;
  color:black;
}


.navbar{
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  background-color: #012036;
}

.navbar-toggler{
  padding-right: .25rem;
  padding-left: .25rem;
  color: white;
}
.navbar-brand{
  color:white;
}
.nav-link{
  color: white;
}

.nav-link:hover{
  background-color: cyan;
  border-radius: 10px;
}

.home {
  text-align: justify;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

#acercaDeMi{
  background-color: #012036;
  color: white
}